.map {
  width: 90vw;
  height: 80vh;
  margin: auto;
  border: 2px solid blue;
}

.popup {
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2px;
  width: 100px;
  height: 100px;
}

.wrapper {
  background-color: black;
  width: 100vw;
  height: 100vh;
}