.navBar {
  display: grid;
  grid-template-columns: 90% 108px;
  grid-template-rows: 12vh;
  align-items: center;
  padding: 0 55px;
  
}

.h1 {
  font-family: 'Arial', sans-serif;
  color: white;
  text-shadow: -4px 4px 0px #04047c,
  -6px 6px 0px blue;
  margin-left: 10px;
  font-size: 37px;
}

.navButton {
  background-color: #ffcc33;
  padding: 12px 0;
  font-size: 16px;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.navButton a{
  font-family: 'Arimo', sans-serif;
  text-decoration: none;
  color: black
}

.navButton:hover {
  background-color: red;
}